.home-wrapper {
  h1,h2 {
    font-size: 20px !important;
  }
}
.about {
  &__wrapper {
    flex-wrap: wrap;
    img {
      margin: 1rem;
      width: 200px;
      height: 200px;
    }
  }
  &__text {
    font-size: 14px;
    padding: 1rem;
  }
}

.works {
  .box {
    &:nth-child(2) {
      flex-wrap: wrap !important;
    }
    flex-wrap: wrap;
    a {
      width: 100% !important;
    }
  }
  &__banner {
    display: flow-root !important;
    #box2 {
      width: 100%;
      &:nth-child(2) {
        flex-wrap: wrap ; 
      }
      img {
        width: 100% ;
      }
      flex-wrap: wrap;
      a {
        width: 100% ;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.skill {
  &__wrapper {
    flex-wrap: wrap;
    padding: 1rem;
  }
  &__box {
    width: 100%;
    display: contents;
    &:first-child {
      margin-right: 0px;
    }
    &:last-child {
      margin-left: 0px;
    }
  }
  &__icons {
    padding: 1rem;
  }
}