#wrapper nav {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100px;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(212, 236, 234, 0.6);
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
}

#wrapper nav ul li {
  display: block;
  padding: 20px 28px;
}

#wrapper nav ul li a {
  text-decoration: none;
  color: #121212;
}

#wrapper .btn-gnavi {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 20;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

#wrapper .btn-gnavi span {
  position: absolute;
  width: 30px;
  height: 4px;
  background: #666;
  border-radius: 10px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

#wrapper .btn-gnavi span:nth-child(1) {
  top: 0;
}

#wrapper .btn-gnavi span:nth-child(2) {
  top: 10px;
}

#wrapper .btn-gnavi span:nth-child(3) {
  top: 20px;
}

#wrapper .btn-gnavi.open span:nth-child(1) {
  -webkit-transition-delay: 70ms;
  transition-delay: 70ms;
  -webkit-transform: translateY(10px) rotate(140deg);
  transform: translateY(10px) rotate(140deg);
}

#wrapper .btn-gnavi.open span:nth-child(2) {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
  transform: translateX(-18px) scaleX(0);
}

#wrapper .btn-gnavi.open span:nth-child(3) {
  -webkit-transition-delay: 140ms;
  transition-delay: 140ms;
  -webkit-transform: translateY(-10px) rotate(-140deg);
  transform: translateY(-10px) rotate(-140deg);
}

#wrapper .btn-gnavi.open span {
  background: #666;
}

#wrapper .contents section p {
  position: absolute;
  top: 50%;
  width: 30%;
  line-height: 1.4;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 6px #666;
}

#wrapper .contents section:nth-child(odd) p {
  left: 10%;
}

#wrapper .contents section:nth-child(even) p {
  right: 10%;
}

.home-wrapper h1, .home-wrapper h2 {
  font-size: 20px !important;
  left: 20% !important;
}

.about__wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__wrapper img {
  margin: 1rem;
  width: 200px;
  height: 200px;
}

.about__text {
  font-size: 14px;
  padding: 1rem;
}

.works .box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .box:nth-child(2) {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.works .box a {
  width: 100% !important;
}

.works__banner {
  display: flow-root !important;
}

.works__banner #box2 {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__banner #box2:nth-child(2) {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__banner #box2 img {
  width: 100%;
}

.works__banner #box2 a {
  width: 100%;
}

.works__banner #box2 p {
  font-size: 14px;
}

.skill__wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.skill__box {
  width: 100%;
  display: contents;
}

.skill__box:first-child {
  margin-right: 0px;
}

.skill__box:last-child {
  margin-left: 0px;
}

.skill__icons {
  padding: 1rem;
}
/*# sourceMappingURL=mobile.css.map */