
.nav {
  background-color: rgba(212,236,234,0.6);
  padding: 15px 60px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  &__menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  &__item {
    margin-left: 20px;
    a {
      text-decoration: none;
      color: #121212;
    }
    a:after {
      content: "";
      border-bottom: solid 2px #F39800;
      bottom: 0;
      display: block;
      transition: all .3s ease;
      width: 0;
    }
    a:hover::after {
      width: 100%;
    }
  }
}

.home-wrapper {
  background-color: aqua;
  height: 100vh;
  text-align: center;
  padding: 300px 200px;
  h1,h2 {
  font-family: 'Playfair Display', serif;
  }
}