@import "mixin";
// レスポンシブデザイン
@media screen and (max-width: 600px) {
  @import 'mobile.scss';
}

body {
  font-family: 'Playfair Display', serif;
}

// 固定メニュー
#global-navi {
  background-color: rgba(212,236,234,0.6);
  position: fixed;
  top: 0;
  right: 0px;
  width: 100%;
  z-index: 10;
}
#wrapper ul {
  text-align: end;
}
#wrapper nav ul li{
  display:inline-block;
  font-size: 16px;
  padding: 20px;
  text-align: right;
}
#wrapper nav ul li a{
  color: #121212;
  text-decoration: none;
  &:after {
    content: "";
    border-bottom: solid 2px #F39800;
    bottom: 0;
    display: block;
    transition: all .3s ease;
    width: 0;
  }
  &:hover::after {
    width: 100%;
  }
}

// HOMEエリア
.home-wrapper {
  position: relative;
  width: 100%;
  background: url(image/sky.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  h1,h2 {
    text-shadow: 2px 3px 6px #333;
    position: absolute;
    top: 50%;
    left: 20%;
  }
  h1 {
  font-size: 50px;
  margin-top: -50px;
  letter-spacing: 3px;
  font-family: 'Playfair Display', serif;
  }
  h2 {
    font-size: 70px;
    letter-spacing: 12px;
  }
}

// ---------------
// ABOUTエリア
// ---------------
.about {
  &__title {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    // background-color: #eee;
  }
  &__wrapper {
    max-width: 1140px;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
  }
  &__img {
    width: 100%;
    text-align: center;
    img {
      margin: 1rem;
      border-radius: 10px;
    }
  }
  &__text {
    padding: 1rem;
    h1 {
      margin-bottom: 20px;
      color: #333;
    }
  }
}

// -------------
// スキル詳細エリア
// -------------
.skill {
  // background-color: #f2f2f2;
  &__title {
    text-align: center;
    font-size: 40px;
    // background-color: #eee;
  }
  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    padding: 3rem;
  }
  &__box {
    width: calc(100%/3);
    img {
      width: 100%;
      box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    }
      &:first-child {
        margin-right: 50px;
      }
      &:last-child {
        margin-left: 50px;
      }
    }
  &__text {
    h2 {
      text-align: center;
      margin-bottom: 16px;
    }
  }
  &__icons {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-bottom: 30px;
    .icon-title {
      font-size: 20px;
      font-weight: bold;
      width: 100%;
      border-bottom: 3px solid #F39800;
      margin-bottom: 10px;
    }
  }
}

// ---------------
// Worksエリア
// ---------------
.works {
  background-color: #f2f2f2;
  &__title {
    text-align: center;
    font-size: 40px;
    // background-color: #eee;
  }
  &__wrapper {
    height: 100%;
    // background-color: #F39800;
  }
  &__boxs {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0;
    .marker {
      color: #3E3A39;
    }
    cite {
      text-decoration: underline  #F39800 ;
      font-size: 22px;
    }
    .box {
      display: flex;
      padding: 20px;
      a {
        width: 50%;
      }
      img {
        width: 100%;
        transition: box-shadow 1s ease-out, transform .7s ease-out;
      }
      img:hover {
        box-shadow: 0 10px 20px 0px rgb(189, 187, 187);
        transform: translateY(-15px);
      }
      p {
        padding: 0 20px 0;
      }
      &:nth-child(2) {
        flex-flow: row-reverse;
        p {
          flex: auto;
        }
      }
    }
  }
  &__banner {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    cite {
      font-size: 22px;
      text-decoration: underline #A2D7D4;
    }
    .box3 {
      width: 50%;
      display: flex;
      img {
        width: 50%;
      }
      p {
        padding-left: 10px;
      }
    }
  }
}


// --------------------------
// index.html側コンタクト部
// --------------------------
.contact-wrapper {
  // background-image: url(https://cdn.pixabay.com/photo/2018/08/10/15/39/email-3597088__480.jpg);
  // background-position: center;
  // background-size: contain;
  // background-color:rgba(255,255,255,0.6);
  // background-blend-mode:lighten;
  background: #f2f2f2;
  text-align: center;
  a {
    font-size: 40px;
    text-decoration: none;
    color: #161412;
    transition: .6s;
    transform: scale(1);
    display: inline-block;
    &:hover {
      transform: scale(1.2);
    }
  }
  h4 {
    font-size: 12px;
    padding: 20px 0;
  }
}


// --------------
// CONTACTエリア
// --------------
.title-contact {
  height: 145px;
  text-align: center;
  font-size: 40px;
  line-height: 160px;
  box-shadow: 0px 1px 6px #666 ;
  background-color: #F39800;
  font-family: 'Playfair Display', serif;
}
.contact-img {
  text-align: center;
  margin-top: 20px;
  img {
    width: 8%;
  }
}

.footer {
  height: 120px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    margin: 0 20px;
    width: 80px;
    height: 80px;
    background-color: #cccccc;
    display: inline-block;
    border-radius: 24px;
    box-shadow: 6px 6px 12px rgba(0,0,0,.15),
                -6px -6px 12px rgba(255, 255, 255,.1);
    overflow: hidden;
    font-size: 28px;
    transition:  .3s linear;
    position: relative;
    i::before {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      background-size: 200% 200%;
      background-position: 75% 75%;
      top: 0;
      left: 0;
      line-height: 80px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: background .5s linear;
      }
    &:hover {
      transform: scale(1.3);
      border-radius: 50%;
    }
    &:hover i::before {
      background-position: 0% 0%;
    }
  }
}


.fa-twitter-square::before {
  background-image: linear-gradient(135deg,#1da1f2 30%,#495157 50%);
}
.fa-github-square::before {
  background-image: linear-gradient(135deg,#161412 30%,#495157 50%);
}




// ----------------
// テキストアニメーション
// ----------------
#animate-title {
  opacity: 0;

  &.inview {
    opacity: 1;

    & .char {
      display: inline-block;
    }
  }

  & .char {
    opacity: 0;
  }
}

#animate-title.inview .char {
  @include animation(
    $name: kf-animate-chars,
    $duration: 0.5s,
    $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
    $fill-mode: both
  );

  @for $i from 1 through 30 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.3s;
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// -----------------
// テキストフェードイン
// -----------------
.fadein {
  opacity: 0.1;
  transform : translate(0, 50px);
  transition : all 1500ms;
}

.skill__box.fadein:nth-of-type(2) {
  transition-delay: 600ms;
}
.skill__box.fadein:nth-of-type(3) {
  transition-delay: 800ms;
}

.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}