@media screen and (max-width: 600px) {
  #wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 100px;
    height: 100%;
    padding-top: 50px;
    background-color: rgba(212, 236, 234, 0.6);
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 10;
  }
  #wrapper nav ul li {
    display: block;
    padding: 20px 28px;
  }
  #wrapper nav ul li a {
    text-decoration: none;
    color: #121212;
  }
  #wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 20;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 200ms;
    transition: all 200ms;
  }
  #wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 200ms;
    transition: all 200ms;
  }
  #wrapper .btn-gnavi span:nth-child(1) {
    top: 0;
  }
  #wrapper .btn-gnavi span:nth-child(2) {
    top: 10px;
  }
  #wrapper .btn-gnavi span:nth-child(3) {
    top: 20px;
  }
  #wrapper .btn-gnavi.open span:nth-child(1) {
    -webkit-transition-delay: 70ms;
    transition-delay: 70ms;
    -webkit-transform: translateY(10px) rotate(140deg);
    transform: translateY(10px) rotate(140deg);
  }
  #wrapper .btn-gnavi.open span:nth-child(2) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateX(-18px) scaleX(0);
    transform: translateX(-18px) scaleX(0);
  }
  #wrapper .btn-gnavi.open span:nth-child(3) {
    -webkit-transition-delay: 140ms;
    transition-delay: 140ms;
    -webkit-transform: translateY(-10px) rotate(-140deg);
    transform: translateY(-10px) rotate(-140deg);
  }
  #wrapper .btn-gnavi.open span {
    background: #666;
  }
  #wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666;
  }
  #wrapper .contents section:nth-child(odd) p {
    left: 10%;
  }
  #wrapper .contents section:nth-child(even) p {
    right: 10%;
  }
  .home-wrapper h1, .home-wrapper h2 {
    font-size: 20px !important;
    left: 20% !important;
  }
  .about__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__wrapper img {
    margin: 1rem;
    width: 200px;
    height: 200px;
  }
  .about__text {
    font-size: 14px;
    padding: 1rem;
  }
  .works .box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works .box:nth-child(2) {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .works .box a {
    width: 100% !important;
  }
  .works__banner {
    display: flow-root !important;
  }
  .works__banner #box2 {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works__banner #box2:nth-child(2) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works__banner #box2 img {
    width: 100%;
  }
  .works__banner #box2 a {
    width: 100%;
  }
  .works__banner #box2 p {
    font-size: 14px;
  }
  .skill__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem;
  }
  .skill__box {
    width: 100%;
    display: contents;
  }
  .skill__box:first-child {
    margin-right: 0px;
  }
  .skill__box:last-child {
    margin-left: 0px;
  }
  .skill__icons {
    padding: 1rem;
  }
}

body {
  font-family: 'Playfair Display', serif;
}

#global-navi {
  background-color: rgba(212, 236, 234, 0.6);
  position: fixed;
  top: 0;
  right: 0px;
  width: 100%;
  z-index: 10;
}

#wrapper ul {
  text-align: end;
}

#wrapper nav ul li {
  display: inline-block;
  font-size: 16px;
  padding: 20px;
  text-align: right;
}

#wrapper nav ul li a {
  color: #121212;
  text-decoration: none;
}

#wrapper nav ul li a:after {
  content: "";
  border-bottom: solid 2px #F39800;
  bottom: 0;
  display: block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 0;
}

#wrapper nav ul li a:hover::after {
  width: 100%;
}

.home-wrapper {
  position: relative;
  width: 100%;
  background: url(image/bg-HP);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.home-wrapper h1, .home-wrapper h2 {
  text-shadow: 2px 3px 6px #333;
  position: absolute;
  top: 50%;
  left: 55%;
}

.home-wrapper h1 {
  font-size: 50px;
  margin-top: -50px;
  letter-spacing: 3px;
  font-family: 'Playfair Display', serif;
}

.home-wrapper h2 {
  font-size: 70px;
  letter-spacing: 12px;
}

.about__title {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}

.about__wrapper {
  max-width: 1140px;
  padding: 40px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  width: 100%;
  text-align: center;
}

.about__img img {
  margin: 1rem;
  border-radius: 10px;
}

.about__text {
  padding: 1rem;
}

.about__text h1 {
  margin-bottom: 20px;
  color: #333;
}

.skill__title {
  text-align: center;
  font-size: 40px;
}

.skill__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
}

.skill__box {
  width: calc(100%/3);
}

.skill__box img {
  width: 100%;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.skill__box:first-child {
  margin-right: 50px;
}

.skill__box:last-child {
  margin-left: 50px;
}

.skill__text h2 {
  text-align: center;
  margin-bottom: 16px;
}

.skill__icons {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 3rem;
  padding-bottom: 30px;
}

.skill__icons .icon-title {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border-bottom: 3px solid #F39800;
  margin-bottom: 10px;
}

.works {
  background-color: #f2f2f2;
}

.works__title {
  text-align: center;
  font-size: 40px;
}

.works__wrapper {
  height: 100%;
}

.works__boxs {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 0;
}

.works__boxs .marker {
  color: #3E3A39;
}

.works__boxs cite {
  -webkit-text-decoration: underline  #F39800;
          text-decoration: underline  #F39800;
  font-size: 22px;
}

.works__boxs .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.works__boxs .box a {
  width: 50%;
}

.works__boxs .box img {
  width: 100%;
  -webkit-transition: -webkit-box-shadow 1s ease-out, -webkit-transform .7s ease-out;
  transition: -webkit-box-shadow 1s ease-out, -webkit-transform .7s ease-out;
  transition: box-shadow 1s ease-out, transform .7s ease-out;
  transition: box-shadow 1s ease-out, transform .7s ease-out, -webkit-box-shadow 1s ease-out, -webkit-transform .7s ease-out;
}

.works__boxs .box img:hover {
  -webkit-box-shadow: 0 10px 20px 0px #bdbbbb;
          box-shadow: 0 10px 20px 0px #bdbbbb;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.works__boxs .box p {
  padding: 0 20px 0;
}

.works__boxs .box:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.works__boxs .box:nth-child(2) p {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.works__banner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__banner cite {
  font-size: 22px;
  -webkit-text-decoration: underline #A2D7D4;
          text-decoration: underline #A2D7D4;
}

.works__banner .box3 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__banner .box3 img {
  width: 50%;
}

.works__banner .box3 p {
  padding-left: 10px;
}

.contact-wrapper {
  background: #f2f2f2;
  text-align: center;
}

.contact-wrapper a {
  font-size: 40px;
  text-decoration: none;
  color: #161412;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: inline-block;
}

.contact-wrapper a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact-wrapper h4 {
  font-size: 12px;
  padding: 20px 0;
}

.title-contact {
  height: 145px;
  text-align: center;
  font-size: 40px;
  line-height: 160px;
  -webkit-box-shadow: 0px 1px 6px #666;
          box-shadow: 0px 1px 6px #666;
  background-color: #F39800;
  font-family: 'Playfair Display', serif;
}

.contact-img {
  text-align: center;
  margin-top: 20px;
}

.contact-img img {
  width: 8%;
}

.footer {
  height: 120px;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer a {
  margin: 0 20px;
  width: 80px;
  height: 80px;
  background-color: #cccccc;
  display: inline-block;
  border-radius: 24px;
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15), -6px -6px 12px rgba(255, 255, 255, 0.1);
          box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15), -6px -6px 12px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  font-size: 28px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  position: relative;
}

.footer a i::before {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 200% 200%;
  background-position: 75% 75%;
  top: 0;
  left: 0;
  line-height: 80px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: background .5s linear;
  transition: background .5s linear;
}

.footer a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-radius: 50%;
}

.footer a:hover i::before {
  background-position: 0% 0%;
}

.fa-twitter-square::before {
  background-image: linear-gradient(135deg, #1da1f2 30%, #495157 50%);
}

.fa-github-square::before {
  background-image: linear-gradient(135deg, #161412 30%, #495157 50%);
}

#animate-title {
  opacity: 0;
}

#animate-title.inview {
  opacity: 1;
}

#animate-title.inview .char {
  display: inline-block;
}

#animate-title .char {
  opacity: 0;
}

#animate-title.inview .char {
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#animate-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#animate-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#animate-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#animate-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#animate-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

#animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

#animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

#animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

#animate-title.inview .char:nth-child(10) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#animate-title.inview .char:nth-child(11) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

#animate-title.inview .char:nth-child(12) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

#animate-title.inview .char:nth-child(13) {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

#animate-title.inview .char:nth-child(14) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

#animate-title.inview .char:nth-child(15) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

#animate-title.inview .char:nth-child(16) {
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

#animate-title.inview .char:nth-child(17) {
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}

#animate-title.inview .char:nth-child(18) {
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
}

#animate-title.inview .char:nth-child(19) {
  -webkit-animation-delay: 5.7s;
          animation-delay: 5.7s;
}

#animate-title.inview .char:nth-child(20) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

#animate-title.inview .char:nth-child(21) {
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
}

#animate-title.inview .char:nth-child(22) {
  -webkit-animation-delay: 6.6s;
          animation-delay: 6.6s;
}

#animate-title.inview .char:nth-child(23) {
  -webkit-animation-delay: 6.9s;
          animation-delay: 6.9s;
}

#animate-title.inview .char:nth-child(24) {
  -webkit-animation-delay: 7.2s;
          animation-delay: 7.2s;
}

#animate-title.inview .char:nth-child(25) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

#animate-title.inview .char:nth-child(26) {
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s;
}

#animate-title.inview .char:nth-child(27) {
  -webkit-animation-delay: 8.1s;
          animation-delay: 8.1s;
}

#animate-title.inview .char:nth-child(28) {
  -webkit-animation-delay: 8.4s;
          animation-delay: 8.4s;
}

#animate-title.inview .char:nth-child(29) {
  -webkit-animation-delay: 8.7s;
          animation-delay: 8.7s;
}

#animate-title.inview .char:nth-child(30) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadein {
  opacity: 0.1;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}

.skill__box.fadein:nth-of-type(2) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

.skill__box.fadein:nth-of-type(3) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

.fadein.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
/*# sourceMappingURL=style.css.map */